<% if @post.errors.any? %>

  <h3><%= pluralize(@post.errors.count, "error" ) %> prohibited this post from being saved:</h3>

  <ul>
    <% @post.errors.full_messages.each do |msg| %>
      <li> <%= msg %> </li>
    <% end %>
  </ul>

<% end %>



<%= form_for(@post) do |f| %>

  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :body %>
  <%= f.text_field :body %>

  <%= f.submit %>


<% end %>